<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理</title>
</head>
<body>
<script>
    var json = {
        "code": "OK",
        "timestamp": 1570876181764,
        "status": 1,
        "message": "success",
        "content": {
            "content": [{
                "id": 21,
                "name": "59式中型坦克",
                "amount": 1,
                "price": 4800000.0,
                "remark": "无",
                "date": "2019-10-09T10:23:56.000+0000",
                "status": 1
            }, {
                "id": 22,
                "name": "59式中型坦克",
                "amount": 1,
                "price": 4800000.0,
                "remark": "无",
                "date": "2019-10-09T10:23:56.000+0000",
                "status": 1
            }, {
                "id": 23,
                "name": "59式中型坦克",
                "amount": 1,
                "price": 4800000.0,
                "remark": "无",
                "date": "2019-10-09T10:23:56.000+0000",
                "status": 1
            }, {
                "id": 24,
                "name": "59式中型坦克",
                "amount": 1,
                "price": 4800000.0,
                "remark": "无",
                "date": "2019-10-09T10:23:56.000+0000",
                "status": 1
            }],
            "pageable": {
                "sort": {"sorted": false, "unsorted": true, "empty": true},
                "offset": 20,
                "pageNumber": 2,
                "pageSize": 10,
                "unpaged": false,
                "paged": true
            },
            "totalPages": 3,
            "last": true,
            "totalElements": 24,
            "number": 2,
            "size": 10,
            "sort": {"sorted": false, "unsorted": true, "empty": true},
            "numberOfElements": 4,
            "first": false,
            "empty": false
        }
    }
</script>
<script>
    var json = {
        "url": "/users/root",
        "ok": true,
        "status": 200,
        "statusText": "OK",
        "headers": {
            "map": {
                "date": ["Fri, 11 Oct 2019 07:55:16 GMT"],
                "connection": ["keep-alive"],
                "transfer-encoding": ["chunked"],
                "content-type": ["application/json;charset=UTF-8"]
            }
        },
        "body": {
            "code": "OK",
            "timestamp": 1570780456274,
            "status": 1,
            "message": "success",
            "content": {"id": 8, "username": "root", "email": "test@test.com", "status": 0}
        },
        "bodyText": "{\"code\":\"OK\",\"timestamp\":1570780456274,\"status\":1,\"message\":\"success\",\"content\":{\"id\":8,\"username\":\"root\",\"email\":\"test@test.com\",\"status\":0}}"
    }
</script>
<script>
    var json = {
        "code": "OK",
        "timestamp": 1570779586863,
        "status": 1,
        "message": "success",
        "content": {"id": 8, "username": "root", "email": "test@test.com", "status": 0}
    }
</script>
<script>
    var json = {
        "code": "OK", "timestamp": 1570757666526, "status": 1, "message": "success", "content": {
            "content": [{
                "id": 1,
                "name": "59式中型坦克",
                "amount": 2,
                "price": 4800000.0,
                "remark": "无",
                "date": "2019-10-09T10:23:56.000+0000",
                "status": 1
            }],
            "pageable": {
                "sort": {"sorted": false, "unsorted": true, "empty": true},
                "offset": 0,
                "pageSize": 10,
                "pageNumber": 0,
                "unpaged": false,
                "paged": true
            },
            "totalPages": 2,
            "last": false,
            "totalElements": 12,
            "number": 0,
            "size": 10,
            "sort": {"sorted": false, "unsorted": true, "empty": true},
            "first": true,
            "numberOfElements": 10,
            "empty": false
        }
    }
</script>
</body>
</html>